---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import IconCalendar from "@/assets/icons/IconCalendar.svg";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  class?: string;
  size?: "sm" | "lg";
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
};

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
  timezone: postTimezone,
} = Astro.props;

/* ========== Formatted Datetime ========== */
const tz = postTimezone || SITE.timezone;
const isModified = modDatetime && modDatetime > pubDatetime;

const pubDayjs = dayjs(pubDatetime).tz(tz);
const pubDate = pubDayjs.format("D MMM, YYYY");

const modDayjs = isModified ? dayjs(modDatetime).tz(tz) : null;
const modDate = modDayjs ? modDayjs.format("D MMM, YYYY") : null;
---

<div class:list={["flex items-center gap-x-2 opacity-80", className]}>
  <IconCalendar
    class:list={[
      "inline-block size-6 min-w-5.5",
      { "scale-90": size === "sm" },
    ]}
  />
  <time
    class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    datetime={pubDayjs.toISOString()}>{pubDate}</time
  >
  {
    modDate && (
      <span class:list={["text-sm opacity-70", { "sm:text-base": size === "lg" }]}>
        (Updated: <time datetime={modDayjs!.toISOString()}>{modDate}</time>)
      </span>
    )
  }
</div>
