#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

label {
    background-color: white;
}

#controls * {
    display: block;
}

input, label {
    height: 2vh;
}

